PORT=5000
DB_HOST=localhost
DB_PORT=3306
DB_NAME=khao-pio
DB_USER=root
DB_PASSWORD=2501
JWT_SECRET=khao-pio-super-secret
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
CORS_ORIGIN=https://your-frontend-domain.vercel.app
